---
layout: default
---

<style>
 .grid {
  display: flex;
 }
.col-1-2 {
  flex: 1;
}
.cole-1-2:last-child {
  margin-left: 20px;
}
</style>


<div style="background: #F4EFEB">  
	<div style="text-align: center">
	<img src="pictures/image2.jpg" alt="Header" class="marginauto">
	</div>
</div>

<div style="text-align: center">
	<div class="section">
		<div class="container last-post">
			<h5>Join us for a series of talks organized by the ILLC Diversity Committee!</h5>
		</div>
	</div>
    <div class="container last-post">
		<div class="section">
			<div class="row">
				<div class="carousel carousel-slider" data-indicators="true" data-namespace="DIVcarouselcarousel-slider1" style="height: 400px;">
					<div class="carousel-item red white-text" href="#one!" style="display: block class="materialboxed">
						<div class="grid">
							<div class="col-1-2">
							<p> </p>  <br>
								<div class="content">
								<img src="pictures/katrin.jpg" alt="Katrin" class="marginauto" width="190" height="auto" style="border-radius: 50%";>
									<p>Date</p>
									<p>Time</p>
									<p>Location</p>
								</div>
							</div>
							<div class="col-1-2">
								<div class="content">
									<div style="text-align: left">
										<h2>Katrin Schulz: TITLE</h2>
										<p>Katrin is an assistant professor at the University of Amsterdam.</p>
			   
										<p>In her talk, she will focus.</p>
									</div>
									<a class="btn waves-effect white grey-text darken-text-2" href="/Katrin/" target="_blank" rel="noopener noreferrer"> Tell me more</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item amber white-text" href="#two!" style="display: block class="materialboxed">
						<div class="grid">
							<div class="col-1-2">
							<p> </p>  <br>
								<div class="content">
								<img src="pictures/isabelle.jpg" alt="Katrin" class="marginauto" width="190" height="auto" style="border-radius: 50%";>
									<p>Date</p>
									<p>Time</p>
									<p>Location</p>
								</div>
							</div>
							<div class="col-1-2">
								<div class="content">
									<div style="text-align: left">
										<h2>Isabelle Collette: TITLE</h2>
										<p>Isabelle is </p>
			   
										<p>In her talk, she will focus.</p>
									</div>
									<a class="btn waves-effect white grey-text darken-text-2" href="/Isabelle/" target="_blank" rel="noopener noreferrer"> Tell me more</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item green white-text" href="#three!" style="display: block class="materialboxed">
						<div class="grid">
							<div class="col-1-2">
							<p> </p>  <br>
								<div class="content">
								<img src="pictures/ludo.jpg" alt="Ludo" class="marginauto" width="190" height="auto" style="border-radius: 50%";>
									<p>Date</p>
									<p>Time</p>
									<p>Location</p>
								</div>
							</div>
							<div class="col-1-2">
								<div class="content">
									<div style="text-align: left">
										<h2>Ludo Waltman: TITLE</h2>
										<p>Ludo is </p>
			   
										<p>In his talk, he will focus.</p>
									</div>
									<a class="btn waves-effect white grey-text darken-text-2" href="/Ludo/" target="_blank" rel="noopener noreferrer"> Tell me more</a>
								</div>
							</div>
						</div>
					</div>
					</div>
			<ul class="indicators"><li class="indicator-item"></li><li class="indicator-item"></li><li class="indicator-item"></li><li class="indicator-item"></li></ul></div>
		</div>
	</div>
		</div>
	</div>
