---
layout: default
---
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>

<div style="background: #F4EFEB">
	<div style="text-align: center">
	<img src="pictures/image2.jpg" alt="Header" class="marginauto">
	</div>
</div>

<div style="text-align: center">
	<div class="section">
			<h5>Join us for a series of talks organized by the ILLC Diversity Committee! Upcoming talks will appear here. 
			</h5>
	</div>
</div>

<div style="text-align: left">
	<div class="section">
			<h5> 	
			For the recording and abstracts of our previous talks, go to the
			<a style="color:black; text-decoration:underline" href="https://illc-diversity-talks.github.io/Previous%20Talks/">Previous Talk</a>
			tab! </h5>
	</div>
</div>